Repository aleksandr-kiliushin/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, stylelint

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --max-warnings=0",
  "*.css": "stylelint"
}

refactor: Fix naming
  src/pages/change-password/index.ts
  src/pages/chats/index.ts
  src/pages/settings/index.ts
  src/pages/sign-in/index.ts
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

refactor: Put pages styles next to pages layout
  src/pages/chats/index.css
  src/pages/chats/index.ts
  src/pages/styles.ts
Due: eslint --max-warnings=0, stylelint

refactor: Layout
  src/pages/profile/index.hbs
Due: none

refactor sign-up form
  src/pages/sign-in/index.ts
  src/utils/form-validator/index.test.ts
  src/utils/form-validator/index.ts
  src/utils/form-validator/renderFieldsErrors.ts
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

Refactor change-password form
  src/pages/change-password/index.ts
Due: eslint --max-warnings=0

Refactor chat form
  src/pages/chats/index.ts
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

Refactor settings form
  src/pages/settings/index.ts
Due: eslint --max-warnings=0

Refactor sign-up form
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

refactor: Styles import
  src/components/head/index.hbs
  src/pages/styles.ts
Due: eslint --max-warnings=0

fix: Fix standalone fields validation
  src/pages/change-password/index.ts
  src/pages/chats/index.ts
  src/pages/settings/index.ts
  src/pages/sign-in/index.ts
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

fix: Add first name and second name validations
  src/pages/settings/index.ts
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

feat: Add login field validation
  src/pages/settings/index.ts
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

feat: Add email validation
  src/pages/settings/index.ts
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

edit default validation error for regexp
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

feat: Add password validation
  src/pages/change-password/index.ts
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

feat: Add phone validation
  src/pages/settings/index.ts
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

feat: Add request helper
  src/pages/chats/index.ts
  src/utils/request.ts
Due: eslint --max-warnings=0

fix: Fix form row columns
  src/styles/rows.css
Due: stylelint

refactor: Remove a redundant call to renderErrors
  src/pages/change-password/index.ts
  src/pages/chats/index.ts
  src/pages/settings/index.ts
  src/pages/sign-in/index.ts
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

chore: Prebuild before buid
  package.json
Due: none

fix: App scroll
  src/styles/global.css
Due: stylelint

Restore package-lock.json
  package-lock.json
Due: none

Update package-lock.json
  package-lock.json
Due: none

fix: Fix message image
  src/components/message/index.css
Due: stylelint

chore: Remove temp from gitignore
  .gitignore
Due: none

chore: Fix build failed issue
  package-lock.json
  package.json
Due: none

chore: Fix static serving error
  serve-static.ts
Due: eslint --max-warnings=0

chore: Button extends Block
  src/components/button/index.ts
  src/pages/ChangePassword/index.ts
  src/pages/Profile/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
  src/pages/chats/index.ts
  src/pages/settings/index.ts
  src/utils/Block.ts
Due: eslint --max-warnings=0

fix: Update dirs names
  src/App.ts
  src/pages/_Chats/index.css
  src/pages/_Chats/index.ts
  src/pages/_Chats/script.ts
  src/pages/_Chats/template.ts
  src/pages/_Profile/index.ts
  src/pages/_Profile/template.ts
  src/pages/_Settings/index.ts
  src/pages/_Settings/script.ts
  src/pages/_Settings/template.ts
Due: eslint --max-warnings=0, stylelint

fix: Update dirs names 2
  src/App.ts
  src/pages/Chats/index.css
  src/pages/Chats/index.ts
  src/pages/Chats/script.ts
  src/pages/Chats/template.ts
  src/pages/Profile/index.ts
  src/pages/Profile/template.ts
  src/pages/Settings/index.ts
  src/pages/Settings/script.ts
  src/pages/Settings/template.ts
Due: eslint --max-warnings=0, stylelint

fix: Update dirs names 3
  src/components/Button_/index.css
  src/components/Button_/index.ts
  src/components/Button_/template.ts
  src/components/Message_/index.css
  src/components/Message_/index.ts
  src/components/Message_/template.ts
  src/components/Navigation_/index.css
  src/components/Navigation_/index.ts
  src/components/Navigation_/template.ts
Due: eslint --max-warnings=0, stylelint

fix: Update dirs names 4
  src/components/Button/index.css
  src/components/Button/index.ts
  src/components/Button/template.ts
  src/components/Message/index.css
  src/components/Message/index.ts
  src/components/Message/template.ts
  src/components/Navigation/index.css
  src/components/Navigation/index.ts
  src/components/Navigation/template.ts
Due: eslint --max-warnings=0, stylelint

fix: Call render buttons
  src/pages/ChangePassword/index.ts
  src/pages/Chats/index.ts
  src/pages/Profile/index.ts
  src/pages/Settings/index.ts
  src/pages/SignUp/index.ts
Due: eslint --max-warnings=0

chore: fix Netlify routing
  netlify.toml
Due: none

chore: Remove redundant .parcelrc
  .parcelrc
Due: none

chore: Remove redundant constructor call
  src/components/Button/index.ts
Due: eslint --max-warnings=0

feat: Initialize EventBus and Block
  package-lock.json
  package.json
  src/components/Button/index.ts
  src/pages/Profile/index.ts
  src/utils/Block.ts
  src/utils/EventBus.ts
Due: eslint --max-warnings=0

refactor: make initialize private
  src/utils/Block.ts
Due: eslint --max-warnings=0

refactor: make initialize private
  .eslintrc.js
  src/pages/ChangePassword/index.ts
  src/pages/Chats/index.ts
  src/pages/Profile/index.ts
  src/pages/Settings/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
  src/utils/Block.ts
Due: eslint --max-warnings=0
