Repository aleksandr-kiliushin/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, stylelint

feat: Add messages images layout
  src/pages/chats.hbs
  src/partials/message.hbs
  src/styles/chats.css
  src/styles/message.css
Due: stylelint

feat: Hide chats unread messages amount for 0
  src/pages/chats.hbs
  src/partials/chats-list-item.hbs
Due: none

feat: Validate and log chat form input
  src/pages/chats.hbs
  src/pages/chats.ts
  src/partials/button.hbs
  src/styles/chats.css
  tsconfig.json
Due: eslint --max-warnings=0, stylelint

feat: Make file input button accessible
  src/pages/chats.hbs
  src/pages/styles.ts
  src/partials/button.hbs
  src/partials/file-input.hbs
  src/styles/button.css
  src/styles/file-input.css
Due: eslint --max-warnings=0, stylelint

feat: Allow custom name for input
  src/pages/chats.hbs
  src/partials/file-input.hbs
Due: none

feat: Init form-validator
  src/pages/chats.ts
  src/utils/form-validator.ts
Due: eslint --max-warnings=0

chore: Configure tests
  .babelrc
  package-lock.json
  package.json
  src/utils/form-validator.test.ts
  tsconfig.json
Due: eslint --max-warnings=0

feat: Add form-validator string check
  src/pages/chats.ts
  src/utils/form-validator.test.ts
  src/utils/form-validator.ts
Due: eslint --max-warnings=0

refactor: Define field type in contstuctor
  src/pages/chats.ts
  src/utils/form-validator.test.ts
  src/utils/form-validator.ts
Due: eslint --max-warnings=0

test: Use loop in tests
  src/utils/form-validator.test.ts
  src/utils/form-validator.ts
Due: eslint --max-warnings=0

feat: Validate string length
  src/utils/form-validator.test.ts
  src/utils/form-validator.ts
Due: eslint --max-warnings=0

feat: Add prohibitedWords validation
  src/utils/form-validator.test.ts
  src/utils/form-validator.ts
Due: eslint --max-warnings=0

refactor: Reogranize form dir
  src/pages/chats.ts
  src/utils/form-validator/FieldConfig.ts
  src/utils/form-validator/index.test.ts
  src/utils/form-validator/index.ts
  src/utils/form-validator/renderFieldsErrors.ts
  src/utils/form-validator/types.ts
  src/utils/form-validator/validateFields.ts
  src/utils/sum.ts
Due: eslint --max-warnings=0

feat: Add isRequired field
  src/utils/form-validator/FieldConfig.ts
  src/utils/form-validator/index.test.ts
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

chore: Make parcel ignore babel config
  .parcelrc
Due: none

refactor: Message field
  src/pages/chats.hbs
  src/pages/chats.ts
  src/styles/chats.css
Due: eslint --max-warnings=0, stylelint

feat: Highlight invalid fields
  src/pages/chats.hbs
  src/pages/chats.ts
  src/styles/chats.css
  src/styles/global.css
  src/utils/form-validator/renderFieldsErrors.ts
Due: eslint --max-warnings=0, stylelint

feat: Remove required validation from chat form
  src/pages/chats.ts
Due: eslint --max-warnings=0

feat: Validate message field onblur
  src/pages/chats.ts
  src/utils/form-validator/index.test.ts
  src/utils/form-validator/renderFieldsErrors.ts
  src/utils/form-validator/types.ts
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

refactor: Extract input styles, renaming
  src/pages/404.hbs
  src/pages/500.hbs
  src/pages/change-password.hbs
  src/pages/chats.hbs
  src/pages/chats.ts
  src/pages/index.hbs
  src/pages/profile.hbs
  src/pages/settings.hbs
  src/pages/sign-in.hbs
  src/pages/sign-up.hbs
  src/partials/page-header.hbs
  src/styles/chats.css
  src/styles/global.css
  src/styles/page-header.css
Due: eslint --max-warnings=0, stylelint

refactor: Remove header, use navbar
  src/pages/404.hbs
  src/pages/500.hbs
  src/pages/change-password.hbs
  src/pages/chats.hbs
  src/pages/index.hbs
  src/pages/profile.hbs
  src/pages/settings.hbs
  src/pages/sign-in.hbs
  src/pages/sign-up.hbs
  src/pages/styles.ts
  src/partials/navigation.hbs
  src/partials/page-header.hbs
  src/styles/global.css
  src/styles/navigation.css
  src/styles/page-header.css
Due: eslint --max-warnings=0, stylelint

chore: Reconfigure jest
  .babelrc
  jest.config.ts
  package-lock.json
  package.json
  tsconfig.json
Due: eslint --max-warnings=0

chore: Fix parcelrc config
  .parcelrc
Due: none

feat: Init settings form validation, improve layout
  .eslintrc.js
  src/pages/settings.hbs
  src/pages/settings.ts
  src/pages/styles.ts
  src/styles/file-input.css
  src/styles/global.css
  src/styles/rows.css
Due: eslint --max-warnings=0, stylelint

refactor: Refactor avatars
  src/pages/change-password.hbs
  src/pages/change-password.ts
  src/pages/chats.hbs
  src/pages/settings.hbs
  src/partials/chats-list-item.hbs
  src/styles/chats-list-item.css
  src/styles/chats.css
  src/styles/global.css
  src/styles/rows.css
Due: eslint --max-warnings=0, stylelint

feat: Init change-password form validation
  src/pages/change-password.ts
  src/styles/rows.css
Due: eslint --max-warnings=0, stylelint

change-password styling
  src/pages/change-password.hbs
  src/pages/profile.hbs
  src/styles/rows.css
Due: stylelint

Init sign-in form validation
  src/pages/sign-in.hbs
  src/pages/sign-in.ts
Due: eslint --max-warnings=0

Init sign-up form validation
  src/pages/sign-up.hbs
  src/pages/sign-up.ts
Due: eslint --max-warnings=0

fix: Fix fields names array for different forms
  src/pages/change-password.ts
  src/pages/sign-in.ts
Due: eslint --max-warnings=0

fix: Update avatar in profile
  src/pages/profile.hbs
Due: none

fix: Add custom validation error text for
  src/pages/change-password.ts
  src/pages/chats.ts
  src/pages/settings.ts
  src/pages/sign-in.ts
  src/pages/sign-up.ts
  src/utils/form-validator/FieldConfig.ts
  src/utils/form-validator/index.test.ts
  src/utils/form-validator/renderFieldsErrors.ts
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

Add icon for login button
  src/pages/sign-in.hbs
Due: none

Profile
  src/pages/chats.hbs
  src/styles/chats.css
Due: stylelint

Renaming /partials -> /components
  handlebars.config.json
  src/components/button.hbs
  src/components/chats-list-item.hbs
  src/components/file-input.hbs
  src/components/head.hbs
  src/components/message.hbs
  src/components/navigation.hbs
Due: none

feat: Add regexp validation
  src/utils/form-validator/FieldConfig.ts
  src/utils/form-validator/index.test.ts
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

chore: Organize components/component-name/index.hbs
  .gitignore
  handlebars.config.json
  package.json
  pre-build.ts
  src/components/button/index.hbs
  src/components/chats-list-item/index.hbs
  src/components/file-input/index.hbs
  src/components/head/index.hbs
  src/components/message/index.hbs
  src/components/navigation/index.hbs
  tsconfig.json
Due: eslint --max-warnings=0

chore: Add test to precommit hook
  .husky/pre-commit
Due: none

chore: Put components styles next to components layout
  src/components/button/index.css
  src/components/chats-list-item/index.css
  src/components/message/index.css
  src/components/navigation/index.css
  src/pages/styles.ts
Due: eslint --max-warnings=0, stylelint

chore: Put pages to their own dirs
  src/components/head/index.hbs
  src/pages/404/index.hbs
  src/pages/500/index.hbs
  src/pages/change-password/index.hbs
  src/pages/change-password/index.ts
  src/pages/chats/index.hbs
  src/pages/chats/index.ts
  src/pages/profile/index.hbs
  src/pages/settings/index.hbs
  src/pages/settings/index.ts
  src/pages/sign-in/index.hbs
  src/pages/sign-in/index.ts
  src/pages/sign-up/index.hbs
  src/pages/sign-up/index.ts
Due: eslint --max-warnings=0

Path conditions:
  eslint --max-warnings=0: any of: *.{js,ts}
  stylelint: any of: *.css
