Repository aleksandr-kiliushin/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, stylelint

.lintstagedrc.json:

{
  "*.{js,ts}": "eslint --max-warnings=0",
  "*.css": "stylelint"
}

docs: Add link to Sprint 1 pull request to the readme
  README.md
Due: none

docs: Add readme
  README.md
Due: none

docs: Update readme
  README.md
Due: none

chore: Add link to localhost in express server
  serve-static.ts
Due: eslint --max-warnings=0

fix: Fix registration form labels
  src/pages/sign-up.hbs
Due: none

fix: Correct deploy address
  README.md
Due: none

docs: Correct deployment address
  README.md
Due: none

feat: Add index page
  src/pages/index.hbs
Due: none

docs: Update deployed project URL
  README.md
Due: none

chore: Rename 'npm run parcel-watch' to 'npm run dev'
  package.json
Due: none

style: Add EOF to hbs files
  src/pages/404.hbs
  src/pages/500.hbs
  src/pages/change-password.hbs
  src/pages/chats.hbs
  src/pages/index.hbs
  src/pages/profile.hbs
  src/pages/settings.hbs
  src/pages/sign-in.hbs
  src/pages/sign-up.hbs
  src/partials/button.hbs
  src/partials/head.hbs
  src/partials/header.hbs
Due: none

chore: Set up dotenv for express server
  .env.example
  .gitignore
  package-lock.json
  package.json
  serve-static.ts
Due: eslint --max-warnings=0

refactor: Fix headings level
  src/pages/change-password.hbs
  src/pages/profile.hbs
  src/pages/settings.hbs
Due: none

feat: Add header styles
  src/pages/global.css
Due: stylelint

refactor: Extract label styles
  src/pages/change-password.hbs
  src/pages/global.css
  src/pages/profile.hbs
  src/pages/settings.hbs
  src/pages/sign-in.hbs
  src/pages/sign-up.hbs
Due: stylelint

feat: Style profile, settings and change-password pages
  src/pages/change-password.hbs
  src/pages/global.css
  src/pages/profile.hbs
  src/pages/settings.hbs
Due: stylelint

refactor: Split styles to different files
  src/pages/styles.ts
  src/partials/head.hbs
  src/styles/button.css
  src/styles/global.css
  src/styles/page-header.css
  src/styles/rows.css
Due: eslint --max-warnings=0, stylelint

feat: Add styles to sign in and sign up pages
  src/pages/sign-in.hbs
  src/pages/sign-up.hbs
Due: none

feat: Add 404 an 500 links to header
  src/partials/header.hbs
Due: none

feat: Allow routing for local development
  serve-static.ts
Due: eslint --max-warnings=0

chore: Update npm scripts for local development
  README.md
  package-lock.json
  package.json
Due: none

algorithms: Implement quick sort
  README.md
Due: none

Init sprint 2
  README.md
Due: none

docs: Add link to sprint 2 PR
  README.md
Due: none

docs: Update branch deployment URL
  README.md
Due: none

chore: Edit TS config
  tsconfig.json
Due: none

feat: Init chats page layout, add chats pane header layout
  .stylelintrc.json
  src/pages/chats.hbs
  src/pages/styles.ts
  src/styles/chats.css
Due: eslint --max-warnings=0, stylelint

feat: Init chats-list-item layout
  src/pages/chats.hbs
  src/pages/styles.ts
  src/partials/chats-list-item.hbs
  src/styles/chats-list-item.css
  src/styles/chats.css
Due: eslint --max-warnings=0, stylelint

feat: Set up scroll
  src/styles/chats.css
  src/styles/global.css
Due: stylelint

feat: Chat layout
  src/pages/chats.hbs
  src/styles/chats.css
Due: stylelint

feat: Chats list item layout
  src/pages/chats.hbs
  src/partials/chats-list-item.hbs
  src/styles/chats-list-item.css
Due: stylelint

feat: Finish chats-list-item styling
  src/styles/chats.css
Due: stylelint

feat: Add chat header
  src/pages/chats.hbs
  src/partials/button.hbs
  src/partials/head.hbs
  src/styles/button.css
  src/styles/chats.css
  src/styles/global.css
Due: stylelint

feat: Chat form layout
  src/pages/chats.hbs
  src/styles/button.css
  src/styles/chats.css
  src/styles/global.css
Due: stylelint

feat: Init message component
  src/pages/chats.hbs
  src/pages/styles.ts
  src/partials/message.hbs
  src/styles/chats.css
  src/styles/message.css
Due: eslint --max-warnings=0, stylelint

feat: Message radius
  src/styles/message.css
Due: stylelint

feat: Text messages styling
  src/pages/chats.hbs
  src/partials/message.hbs
  src/styles/message.css
Due: stylelint
