Repository aleksandr-kiliushin/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, stylelint

refactor: Remove console.log
  src/pages/Settings/index.ts
Due: eslint --max-warnings=0

set: Refetch authorized user data after settings are updated
  src/controllers/usersController.ts
Due: eslint --max-warnings=0

refactor: Remove extra nesting in markup
  src/components/Button/index.ts
  src/components/Button/template.ts
  src/components/FileInput/index.ts
  src/components/FileInput/template.ts
  src/pages/Chats/index.css
  src/pages/Chats/index.ts
  src/pages/Chats/template.ts
Due: eslint --max-warnings=0, stylelint

refactor: Use Image component for avatar in settings
  src/pages/Settings/index.ts
  src/pages/Settings/template.ts
Due: eslint --max-warnings=0

feat: Upload avatar
  src/controllers/usersController.ts
  src/pages/Settings/index.ts
  src/pages/Settings/template.ts
  src/styles/global.css
Due: eslint --max-warnings=0, stylelint

refactor: Handle formdata in request
  src/api/UsersApi.ts
  src/controllers/usersController.ts
  src/pages/Profile/index.ts
  src/utils/request.ts
Due: eslint --max-warnings=0

refactor: Remove additional requests
  src/api/UsersApi.ts
  src/controllers/usersController.ts
Due: eslint --max-warnings=0

refactor: Add store setState method
  src/controllers/authController.ts
  src/controllers/usersController.ts
  src/store.ts
Due: eslint --max-warnings=0

fix: typeof Settings
  src/store.ts
  src/utils/Block.ts
  src/utils/router.ts
Due: eslint --max-warnings=0

feat: Add Label, Box, Anchor components
  src/components/Anchor/index.ts
  src/components/Anchor/template.ts
  src/components/Box/index.ts
  src/components/Box/template.ts
  src/components/Label/index.ts
  src/components/Label/template.ts
Due: eslint --max-warnings=0

refactor: Remove empty line in button template
  src/components/Button/template.ts
Due: eslint --max-warnings=0

refactor: Refactor Image template
  src/components/Image/template.ts
Due: eslint --max-warnings=0

Move navigation to left bottom
  src/components/Navigation/index.css
Due: stylelint

fix: Fix props in settings
  src/index.ts
  src/pages/Settings/index.ts
Due: eslint --max-warnings=0

fix: Check if is element mounted
  src/utils/Block.ts
Due: eslint --max-warnings=0

feat: Fetch and set chats list
  src/api/ChatsApi.ts
  src/api/UsersApi.ts
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
  src/store.ts
  src/styles/global.css
  src/types.ts
Due: eslint --max-warnings=0, stylelint

feat: Add CreateChat button
  src/components/Input/index.ts
  src/components/Input/template.ts
  src/pages/Chats/index.css
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0, stylelint

feat: Add CreateChat Dialog and form
  src/components/Dialog/index.css
  src/components/Dialog/index.ts
  src/components/Dialog/template.ts
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0, stylelint

feat: Create chat controller,api,refetch
  src/api/ChatsApi.ts
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0

feat: Add open chat id state
  src/components/ChatListItem/index.css
  src/components/ChatListItem/index.ts
  src/components/ChatListItem/template.ts
  src/pages/Chats/data.ts
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0, stylelint

feat: Scroll chats down after changing active
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0

refactor: const children + children.push
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

refactor: move render down
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

feat: Add chat is not selected prop
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

refactor: Renaming
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0

feat: Add users to chat
  src/api/ChatsApi.ts
  src/components/Button/index.css
  src/components/Button/index.ts
  src/components/Button/template.ts
  src/components/Input/index.ts
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0, stylelint

feat: Put forms to the page center
  src/pages/ChangePassword/index.ts
  src/pages/Profile/index.ts
  src/pages/Settings/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
  src/styles/global.css
Due: eslint --max-warnings=0, stylelint

feat: Hide add-user button if a chat is not selected
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

feat: Initialize chat participants dialog
  src/components/Box/index.ts
  src/components/Box/template.ts
  src/pages/Chats/index.css
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0, stylelint

feat: Fetch and set chat participants
  src/api/ChatsApi.ts
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

refactor: Extract avatar constants
  src/constants.ts
  src/pages/Chats/index.ts
  src/pages/Profile/index.ts
  src/pages/Settings/index.ts
  src/types.ts
  tsconfig.json
Due: eslint --max-warnings=0

refactor: Remove tag: 'div' because of default parament is div
  src/components/Dialog/index.ts
  src/pages/ChangePassword/index.ts
  src/pages/Chats/index.ts
  src/pages/Profile/index.ts
  src/pages/Settings/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
Due: eslint --max-warnings=0

refactor: Remove isChatParticipantsDialogOpen true
  src/store.ts
Due: eslint --max-warnings=0

feat: ChatListItem avatar
  src/components/ChatListItem/index.ts
  src/components/ChatListItem/template.ts
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

feat: Add User component, Participants look pretty
  src/components/User/index.css
  src/components/User/index.ts
  src/components/User/template.ts
  src/pages/Chats/index.ts
  src/types.ts
Due: eslint --max-warnings=0, stylelint

feat: Fix colors in dialog
  src/components/Dialog/index.css
Due: stylelint

fix: Fix User type and layout
  src/components/User/template.ts
  src/types.ts
Due: eslint --max-warnings=0

fix: Fix a typo in chatlistitem template
  src/components/ChatListItem/template.ts
Due: eslint --max-warnings=0

feat: Add formatDatetime helper
  src/components/ChatListItem/index.ts
  src/utils/formatDatetime.ts
Due: eslint --max-warnings=0

Path conditions:
  eslint --max-warnings=0: any of: ./src/**/*.ts
  stylelint: any of: ./src/**/*.css
