Repository aleksandr-kiliushin/middle.messenger.praktikum.yandex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --max-warnings=0, stylelint

fix: ChatListItem time
  src/components/ChatListItem/index.ts
Due: eslint --max-warnings=0

feat: Add connection to WebSockets
  src/api/ChatsApi.ts
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

feat: Add activeChatMessages store field
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
  src/store.ts
  src/types.ts
Due: eslint --max-warnings=0

feat: Display messages from store
  src/components/Message/index.ts
  src/controllers/chatsController.ts
  src/pages/Chats/data.ts
  src/pages/Chats/index.ts
  src/pages/Profile/index.ts
  src/types.ts
Due: eslint --max-warnings=0

feat: Display sent messages to chat
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

feat: Send message on Enter click
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

feat: Fetch 20 old messages
  src/controllers/chatsController.ts
Due: eslint --max-warnings=0

fix: Fix old messages setting
  src/controllers/chatsController.ts
  src/pages/Chats/index.css
Due: eslint --max-warnings=0, stylelint

fix: Set message min width
  src/components/Message/index.css
Due: stylelint

fix: Reverse messages before setting to state
  src/controllers/chatsController.ts
Due: eslint --max-warnings=0

fix: Reverse messages before setting to state 2
  src/controllers/chatsController.ts
Due: eslint --max-warnings=0

fix: Allow multi-line messages
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0

feat: Redirect unauthorized users from protected routes
  src/utils/router.ts
Due: eslint --max-warnings=0

refactor: Remove logs
  src/controllers/chatsController.ts
Due: eslint --max-warnings=0

feat: Scroll to the messages after they are appended
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
  src/pages/Chats/utils.ts
Due: eslint --max-warnings=0

chore: Upgrade packages
  package-lock.json
  package.json
Due: none

fix: elementOnPage may not be not in the page
  src/utils/Block.ts
Due: eslint --max-warnings=0

fix: Make Input initial value optional
  src/components/Input/index.ts
  src/pages/ChangePassword/index.ts
  src/pages/Chats/index.ts
  src/pages/Settings/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
Due: eslint --max-warnings=0

fix: Make Input initial value optional
  src/components/Box/index.ts
  src/components/Image/index.ts
  src/controllers/chatsController.ts
  src/pages/Settings/index.ts
Due: eslint --max-warnings=0

fix: Restore validation errors
  src/pages/ChangePassword/index.ts
  src/pages/Settings/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

refactor: Set type=text as default type for inputs
  src/components/Input/index.ts
  src/components/Input/template.ts
  src/pages/Chats/index.ts
  src/pages/Settings/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
Due: eslint --max-warnings=0

refactor: Remove logs
  src/components/Input/index.ts
Due: eslint --max-warnings=0

feat: Implement participants deletion from chat
  src/api/ChatsApi.ts
  src/components/Button/index.ts
  src/controllers/chatsController.ts
  src/pages/Chats/index.css
  src/pages/Chats/index.ts
Due: eslint --max-warnings=0, stylelint

refactor: Set button default type to 'button'
  src/components/Button/index.ts
  src/components/Button/template.ts
  src/components/Dialog/index.ts
  src/pages/Chats/index.ts
  src/pages/Profile/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
Due: eslint --max-warnings=0

feat: Implement chats deletion
  src/api/ChatsApi.ts
  src/controllers/chatsController.ts
  src/pages/Chats/index.ts
  src/store.ts
Due: eslint --max-warnings=0

test: Add tests for EventBus
  src/utils/EventBus/index.test.ts
  src/utils/EventBus/index.ts
Due: eslint --max-warnings=0

style: Reorder imports
  .prettierrc
  src/api/ChatsApi.ts
  src/api/UsersApi.ts
  src/components/ChatListItem/index.ts
  src/components/User/index.ts
  src/controllers/authController.ts
  src/controllers/chatsController.ts
  src/controllers/usersController.ts
  src/index.ts
  src/pages/ChangePassword/index.ts
  src/pages/Chats/index.ts
  src/pages/Profile/index.ts
  src/pages/Settings/index.ts
  src/pages/SignIn/index.ts
  src/pages/SignUp/index.ts
  src/store.ts
  src/utils/Router/index.ts
  src/utils/request.ts
Due: eslint --max-warnings=0

refactor: Refactor types namings
  src/components/Button/index.ts
  src/components/Image/index.ts
  src/components/Input/index.ts
  src/components/TextArea/index.ts
  src/utils/form-validator/index.test.ts
  src/utils/form-validator/validateFields.ts
Due: eslint --max-warnings=0

chore: Add import aliases to jest config
  jest.config.ts
Due: none

refactor: Add API_BASE_URL constant
  cypress/support/e2e.ts
  src/constants.ts
  src/utils/request.ts
Due: eslint --max-warnings=0

refactor: Add as const for methodsNames
  src/utils/request.ts
Due: eslint --max-warnings=0

refactor: Cleanup comments
  src/components/Box/template.ts
  src/controllers/authController.ts
  src/controllers/usersController.ts
Due: eslint --max-warnings=0

docs: Update deploy link in readme
  README.md
Due: none

chore: Install webpack
  package-lock.json
  package.json
Due: none

chore: Configure Webpack
  .babelrc
  package-lock.json
  package.json
  static/index.html
  tsconfig.json
  webpack.config.js
Due: none

chore: Uninstall parcel
  .eslintrc.js
  .gitignore
  .parcelrc
  package-lock.json
  package.json
Due: none

chore: Fix npm run start command
  package.json
Due: none

chore: Configure production setup using Docker
  Dockerfile.prod
  package.json
Due: none

chore: Uninstall redundant @types/handlebars
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --max-warnings=0: any of: ./src/**/*.ts
  stylelint: any of: ./src/**/*.css
